@import "../../variables.scss";

.pageContainer {
  display: grid;
  height: 80%;
  justify-content: center;
  align-items: center;

  h2 {
    margin-bottom: 2rem;
  }
}

.color-false {
  color: red;
}

.color-true {
  color: #4f772d;
}

.boxContainer {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
}

.sidebar {
  padding: 20px;
  background-color: #4f772d;
  border-radius: 20px 0px 0px 20px;
  text-align: center;

  width: 25vw;
  height: 75vh;

  h2 {
    font-size: 1.7rem;
    font-style: bold;
    text-shadow: 1px 1px $color-secondary;
    margin: 2vh auto;
  }

  .activities {
    .insideBox {
      // display: flex;
      align-items: center;
      width: 90%;
      height: 80%;
      margin-left: 10px;

      background: inherit;
      color: rgba(201, 255, 153, 1);
      border-radius: 20px;
      border: 2px solid rgba(201, 255, 153, 1);
      padding: 10px;
      cursor: pointer;
      transition: 0.4s;

      &:hover {
        transform: translateX(-10px);
      }

      p,
      label {
        font-size: 1rem;
      }
    }

    .infoBox {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .outBox {
    height: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    list-style: none;
    text-align: center;
    height: 75%;
    margin-bottom: 1rem;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      width: 15px; /* width of the entire scrollbar */
    }

    &::-webkit-scrollbar-track {
      background: $color-primary; /* color of the tracking area */
      border-radius: 0px 20px 20px 0px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(201, 255, 153, 1); /* color of the scroll thumb */
      border-radius: 20px; /* roundness of the scroll thumb */
      border: 4px solid $color-primary; /* creates padding around scroll thumb */
    }
    overflow-y: auto;
    overflow-x: hidden;
  }

  .buttonGroup {
    width: 86%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 7%;
    display: flex;
    justify-content: space-between;
    column-gap: 6%;
  }

  .submitButton {
    width: 200px;

    margin: 0 auto;

    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;

    background: #6b9e3e;
    box-shadow: 0px 0px 4px rgba(0, 0, 0);
    border-radius: 9px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #c9ff99;
    border: 2px solid $color-secondary;

    transition: 0.4s;
    cursor: pointer;
    &:hover {
      translate: 0px -5px;
      border: 2px solid rgba(198, 204, 133, 1);
    }
  }

  .deleteButton {
    width: 200px;

    margin: 0 auto;

    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;

    background: rgba(198, 40, 40, 0.6);
    box-shadow: 0px 0px 4px rgba(0, 0, 0);
    border-radius: 9px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

    color: #c9ff99;
    border: 2px solid $color-secondary;

    transition: 0.4s;
    cursor: pointer;
    &:hover {
      translate: 0px -5px;
      border: 2px solid rgba(198, 204, 133, 1);
    }
  }

  .current-date {
    font-size: 1.45rem;
    font-weight: 500;
  }

  .buttonEvent {
    display: flex;
    align-items: flex-start;
    width: 95%;
    margin: 5px auto;
    height: auto;
    justify-content: space-between;

    background: $color-primary;

    border-radius: 20px;
    color: #c9ff99;
    font-size: 1rem;
    border: 2px solid rgba(201, 255, 153, 1);
    padding: 10px;
    cursor: pointer;
    transition: 0.4s;
  }

  .false {
    color: rgba(255, 0, 0, 0.548);
    text-shadow: rgba(0, 0, 0, 0.25) 0.1em 0.1em 0.2em;
  }

  .buttonOutsideContainer {
    display: flex;
    justify-content: center;
  }

  .buttonContainer {
    margin: auto;
    height: 34px;
    border-radius: 10px;
    border: 5px double $input-primary;
    width: 250px;
    align-items: bottom;
    background-color: #ecf39e;
    color: $color-primary;
    font-weight: bolder;
    font-size: 1.1rem;
    padding: 2px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);

    &:hover {
      transform: scale(1.1);
      translate: 0 -3px;
    }
  }
}

.monthIcons {
  display: flex;

  .prev {
    margin: auto;
    height: 34px;
    border-radius: 10px;
    border: 5px double $input-primary;
    width: 25%;
    align-items: bottom;
    background-color: #ecf39e;
    color: $color-primary;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 2px;
    cursor: pointer;
    transition: translate 0.3s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);

    &:hover {
      translate: 10px;
    }
  }

  .current {
    margin: auto;
    height: 34px;
    border-radius: 10px;
    border: none;
    background-color: inherit;
    width: 25%;
    align-items: bottom;
    color: $color-primary;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 2px;
  }

  .next {
    margin: auto;
    height: 34px;
    border-radius: 10px;
    border: 5px double $input-primary;
    width: 25%;
    align-items: bottom;
    background-color: #ecf39e;
    color: $color-primary;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 2px;
    cursor: pointer;
    transition: translate 0.3s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);

    &:hover {
      translate: -10px;
    }
  }
}

.calendar {
  padding: 20px;
  background-color: #ecf39e;
  // width: fit-content;
  width: 50vw;
  height: 75vh;
  border-radius: 0px 20px 20px 0px;
  display: grid;
  justify-content: center;

  .current-date {
    font-size: 1.45rem;
    font-weight: 500;
  }

  .weekDays {
    .weekDaysGridLayout {
      list-style-type: none;
      z-index: 1;
      display: grid;
      grid-template-columns: 7vw 7vw 7vw 7vw 7vw 7vw 7vw;

      text-align: center;
      row-gap: 40px;
    }

    .weekDaysGridLayout div {
      transition: 0.4s;
      padding: 5px;
    }
  }

  .days {
    .gridLayout {
      // width: 20vw;
      list-style-type: none;
      z-index: 1;
      cursor: pointer;
      display: grid;
      grid-template-columns: 7vw 7vw 7vw 7vw 7vw 7vw 7vw;

      text-align: center;
      row-gap: 40px;
    }

    .gridLayout div {
      transition: 0.4s;
      padding: 5px;

      &:hover {
        background: $color-secondary;
        border-radius: 50px;
      }
    }

    .inactive {
      color: #aaa;
    }

    .active {
      color: blue;
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-decoration-style: double;
      font-weight: 800;
      border-radius: 50px;
    }
  }
}

.eventBox {
  width: 23vw;
  display: block;
  padding-top: 5px;
  margin: 5px;
  border-radius: 20px;
  background: $color-secondary;
  border: 2px solid rgba(201, 255, 153, 1);
}

.checkBox {
  width: 4rem;
  height: 4rem;
  background: inherit;
  margin-left: 5px;
  border-radius: 20px;
  color: #c9ff99;
  border: 4px double $color-secondary;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    border: 4px double #c9ff99;
    translate: -4px 0px;
  }
}

#schedule_link {
  text-decoration: none;
  color: $color-secondary;

  position: absolute;
  left: 11px;
  top: 100px;
}

#participants_link {
  text-decoration: none;
  color: $color-secondary;

  position: absolute;
  left: 11px;
  top: 145px;
}
