@import "../../../variables.scss";

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outsideModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  content: "";
  z-index: 999;
  background: #ffffff;

  border: 2px solid $color-secondary;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  display: flex;
}

.modalContent {
  padding: 20px;
}

.modalTitle {
  text-align: center;
}

.inputBox {
  width: 95%;
  height: 2rem;
  background: rgba(79, 119, 45, 0.5);
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: #666;
  font-size: 1.2rem;
  text-align: left;
}

.textAreaBox {
  width: 95%;
  height: 5rem;
  background: rgba(79, 119, 45, 0.5);
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: #666;
  font-size: 1.2rem;
  text-align: left;
  resize: none;

  &::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: $color-secondary;
    border-radius: 10px; /* color of the tracking area */
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-primary; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid $color-secondary; /* creates padding around scroll thumb */
  }
}

.formField {
  align-items: center;
  margin: 10px;
  font-size: 1.2rem;
}

.buttonContainer {
  padding-top: 2rem;
  margin-left: 2.5%;
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.submitButton {
  margin-top: 2rem;
  width: 200px;

  padding: 10px;
  margin: 0 auto;

  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;

  background: #4f772d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #c9ff99;
  border: 2px solid $color-secondary;

  transition: 0.4s;
  cursor: pointer;
  &:hover {
    border: 2px solid rgba(198, 204, 133, 1);
  }
}
