#container {
  display: flex;
}

#confirm_button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: #2ecc71;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
