@import "../../variables.scss";

.pageContainer {
  margin-top: 5%;
  display: flex;
  justify-content: center;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.outsideBox {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 75%;
  justify-items: center;
  align-items: center;
}

.verticalLine {
  height: 40rem;
  min-width: 0.1rem;
  background: rgba(49, 87, 44, 1);
  border-radius: 5px;
}

.insideBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  width: 50%;
  padding: 25px;

  margin-bottom: 100px;
  margin: 0px auto;

  background: #ffffff;

  border: 1px solid #dddfe4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.infoBox {
  width: 50%;
  display: grid;
  justify-items: center;
}

.cardBox {
  width: 50%;
  height: 90%;

  display: grid;
  justify-items: center;

  border: 2px solid #dddfe4;
  border-radius: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  p {
    color: $color-primary;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1rem;
  }
}

.cardInfo {
  width: 100%;
  text-align: center;

  padding: 10px;
  margin-bottom: 5px;

  border: 2px solid $color-primary;
  border-radius: 10px;

  background: #e6e6e6;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);

  span {
    color: $color-primary;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
  }
}

.column {
  width: auto;
}

.inputContainer {
  padding: 10px;
}

.inputGroup {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
}

.inputBox {
  width: 100%;
  height: 2rem;
  background: rgba(79, 119, 45, 0.5);
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: #666;
  text-align: left;
}

.inputNum {
  width: 50px;
  height: 2rem;
  border: none;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  background-color: rgba(79, 119, 45, 0.5);
}

.inputDate {
  max-width: 100%;
  background: rgba(79, 119, 45, 0.5);
  border: none;
  padding: 10px;
  color: #666;
  border-radius: 10px;

  font-size: 12pt;
  text-align: left;
}

.textAreaBox {
  width: 100%;
  height: 5rem;
  max-width: 100%;
  max-height: 5rem;
  background: rgba(79, 119, 45, 0.5);
  border: #111;
  border-radius: 10px;
  padding: 10px;
  color: #666;
  text-align: left;
  resize: none;
}

.submitButton {
  margin-top: 2rem;
  width: 200px;

  padding: 10px;
  margin: 0 auto;

  border-radius: 10px;
  background: rgba(198, 204, 133, 1);
  font-size: 1rem;
  font-weight: bold;

  background: #4f772d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #c9ff99;
  border: 2px solid $color-secondary;

  transition: 0.4s;
  cursor: pointer;
  &:hover {
    border: 2px solid rgba(198, 204, 133, 1);
  }
}

.deleteButton {
  margin-top: 2rem;
  width: 40%;
  height: 2.5rem;

  border: 2px solid rgba(198, 40, 40, 0);
  border-radius: 10px;

  background: rgba(198, 40, 40, 0.54);
  font-size: 1.5rem;
  transition: 0.4s;
  cursor: pointer;

  &:hover {
    border: 2px solid rgba(198, 40, 40, 0.54);
  }
}

.createButton {
  background: inherit;
  width: 50%;
  height: 7rem;

  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #4f772d;
  text-decoration: underline;
  border: 2px solid #666;

  font-family: "Poppins";
  font-style: normal;

  transition: 0.4s;
  cursor: pointer;
  &:hover {
    border: 2px solid $color-secondary;
    background: #eeeeee;
  }

  p {
    padding: 0px;
    margin: 0px;
  }
}

.editButton {
  background: inherit;
  width: 80%;
  height: 4rem;

  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #c9ff99;
  background: #4f772d;
  text-decoration: none;
  border: 2px solid $color-secondary;

  font-family: "Poppins";
  font-style: bold;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 15px;

  transition: 0.4s;
  cursor: pointer;
  &:hover {
    border: 2px solid rgba(198, 204, 133, 1);
    color: #c9ff99;
  }

  p {
    padding: 0px;
    margin: 0px;
    color: #c9ff99;
  }
}

#schedule_link {
  text-decoration: none;
  color: $color-secondary;

  position: absolute;
  left: 11px;
  top: 100px;
}
