@import "../../variables.scss";

.pageContainer {
  display: grid;
  zoom: 0.85;

  h2 {
    text-align: center;
  }
}

.bodyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.outsideBox {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 2rem;
  max-width: 100%;
  max-height: 100%;
  margin-left: 2rem;
  margin-top: 5vh;
  height: 70vh;
  width: 76vw;

  background: rgba(0, 0, 0, 0.1);
  padding: 2rem;
  padding-right: 0px;
  border-radius: 20px 15px 15px 20px;
  box-shadow: 0px 0px 10px inset rgba(0, 0, 0, 0.25);

  overflow-y: scroll;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 15px; /* width of the entire scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: $color-primary; /* color of the tracking area */
    border-radius: 0px 20px 20px 0px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(201, 255, 153, 1); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 4px solid $color-primary; /* creates padding around scroll thumb */
  }
}

.insideBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 25px;
  width: 19vw;
  height: 19vw;
  background: #ffffff;

  border: 3px solid #dddfe4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.infoBox {
  width: 100%;
  max-width: 15rem;
  display: grid;
  justify-items: center;
  color: $color-primary;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;

  h3 {
    height: 3rem;
    width: 100%;
    overflow: hidden;
    font-size: 1.3rem;
    text-decoration: underline;
  }
}

.personImage {
  width: 8rem;
  height: 8rem;
}

.infoText {
  font-style: italic;
  max-height: 4.4rem;
  overflow: hidden;
}

.deleteButton {
  width: 10vw;
  height: 6vh;

  margin: 0 auto;
  margin-top: 2vh;

  background: rgba(198, 40, 40, 0.54);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: rgb(104, 21, 21);
  font-weight: bold;
  border: 2px solid rgba(198, 40, 40, 0);

  transition: 0.4s;
  cursor: pointer;

  &:hover {
    translate: 0px -5px;
    border: 2px solid rgba(198, 40, 40, 0.54);
  }
}

#addParticipantButton {
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(79, 119, 45, 1);
  color: rgba(201, 255, 153, 1);
  box-shadow: 5px 5px 5px rgb(175, 175, 175);

  margin-top: 0.5rem;
  margin-left: 5rem;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid rgba(79, 119, 45, 1);

  transition: 0.4s;
  font-size: 1.7rem;
  cursor: pointer;

  &:hover {
    transform: translateX(-10px);
    border: 2px solid rgba(201, 255, 153, 1);
  }
}

#buttonText {
  margin-left: 10%;
}

#editButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  cursor: pointer;
  &:hover {
    text-decoration: solid underline rgba(79, 119, 45, 1);
  }
}

#schedule_link {
  text-decoration: none;
  color: $color-secondary;

  position: absolute;
  left: 11px;
  top: 100px;
}

#participants_link {
  text-decoration: none;
  color: $color-secondary;

  position: absolute;
  left: 11px;
  top: 145px;
}

.dialogTitle {
  text-align: center;
  background: $color-primary;
  border: 2px solid rgba(201, 255, 153, 1);
  border-bottom: none;

  h3 {
    margin: 0;
    margin-top: 2vh;
    color: rgba(201, 255, 153, 1);
    font-size: 1.7rem;
    font-weight: bold;
    text-decoration: underline;
  }
}

.dialogContent {
  text-align: center;
  background: $color-primary;
  color: rgba(201, 255, 153, 1);
  padding-bottom: 5vh;
  border: 2px solid rgba(201, 255, 153, 1);
  border-top: none;
  border-bottom: none;

  .dialogContentText {
    color: rgba(201, 255, 153, 1);
    font-style: italic;
    font-size: 1.1rem;
  }
}

.inputContainer {
  z-index: 999;
  margin-top: 4vh;
}

.inputBox {
  width: 80%;
  height: 2rem;
  background-color: $color-secondary;
  border: 2px solid rgba(201, 255, 153, 1);
  border-radius: 10px;
  padding: 10px;
  color: black;
  font-size: 1.3rem;
  text-align: center;
}

.dialogActions {
  text-align: center;
  background: $color-primary;
  color: rgba(201, 255, 153, 1);
  border: 2px solid rgba(201, 255, 153, 1);
  border-top: none;

  .confirmButton {
    width: 35%;
    height: 3.5rem;

    margin: 0 auto;

    border-radius: 10px;
    background: rgba(198, 204, 133, 1);

    background: #4f772d;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    border-radius: 9px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #c9ff99;
    border: 2px solid $color-secondary;

    transition: 0.4s;
    cursor: pointer;

    &:hover {
      translate: 0px -5px;
      border: 2px solid rgba(198, 204, 133, 1);
    }
  }

  .cancelButton {
    width: 35%;
    height: 3.5rem;

    margin: 0 auto;

    background: $button-danger;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    border-radius: 9px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: rgba(198, 204, 133, 1);
    font-weight: bold;
    border: 2px solid rgba(198, 40, 40, 0);

    transition: 0.4s;
    cursor: pointer;

    &:hover {
      translate: 0px -5px;
      border: 2px solid rgba(198, 204, 133, 1);
    }
  }
}

#permission_button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: $color-primary;
  font-weight: bold;

  transition: 0.4s;
  cursor: pointer;

  &:hover {
    translate: 0px -5px;
  }
}
